<%- include('../footwear_layout/layout',{body:` 
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="bread"><span><a href="/">Home</a></span> / <span>Register</span></p>
                </div>
            </div>
        </div>
    </div> 
`}) %>